<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
        <a class="navbar-brand fw-light" href="#">Arka Software System</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reports
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#">Action</a>
                <ul class="dropdown-menu dropdown-submenu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Data Entry
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/product">Products</a></li>
              <li><a class="dropdown-item" href="/project">Projects</a></li>
              <li><a class="dropdown-item" href="/station">Stations</a></li>
              <li><a class="dropdown-item" href="/list-of-actions">List of Actions</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Calender</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<script src="/main.js"></script>
<script>
  $(document).ready(function() {
    const host = window.location.origin;

    $('#saveUserBtn').on('click', function() {
      const data = {
        firstname: $('#firstname').val(),
        lastname: $('#lastname').val(),
        username: $('#username').val(),
        password: $('#password').val(),
        phoneNumber: $('#phoneNumber').val(),
        role: $('#role').find(":selected").val()
      }
      $.ajax({
        type: "POST",
        url: host + '/user/add-user',
        data,
        success: function(data) {
          location.reload();
        },
        error: function(xhr, status, error) {
            console.log('error');
        },
      });
      });
  });
</script>