<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div
    class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
  >
    <div class="dropdown pb-4">
      <a
        href="#"
        class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt="hugenerd"
          width="30"
          height="30"
          class="rounded-circle"
        />
        <span class="d-none d-sm-inline mx-1"
          ><%=firstname%> <%=lastname%></span
        >
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="/user/settings">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
      id="menu"
    >
      <li class="nav-item">
        <a href="#" class="nav-link align-middle px-0">
          <i class="fs-4 bi-house"></i>
          <span class="ms-1 d-none d-sm-inline text-white">Home</span>
        </a>
      </li>
      <li>
        <a
          href="#submenu1"
          data-bs-toggle="collapse"
          class="nav-link px-0 align-middle"
        >
          <i class="fs-4 bi-speedometer2"></i>
          <span class="ms-1 d-none d-sm-inline">Dashboard</span>
        </a>
        <ul
          class="collapse show nav flex-column ms-1"
          id="submenu1"
          data-bs-parent="#menu"
        >
          <li class="w-100">
            <a href="#" class="nav-link px-0">
              <span class="d-none d-sm-inline">Item</span> 1
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0">
              <span class="d-none d-sm-inline">Item</span> 2
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-table"></i>
          <span class="ms-1 d-none d-sm-inline">Orders</span></a
        >
      </li>
      <li>
        <a
          href="#submenu2"
          data-bs-toggle="collapse"
          class="nav-link px-0 align-middle"
        >
          <i class="fs-4 bi-bootstrap"></i>
          <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a
        >
        <ul
          class="collapse nav flex-column ms-1"
          id="submenu2"
          data-bs-parent="#menu"
        >
          <li class="w-100">
            <a href="#" class="nav-link px-0">
              <span class="d-none d-sm-inline">Item</span> 1</a
            >
          </li>
          <li>
            <a href="#" class="nav-link px-0">
              <span class="d-none d-sm-inline">Item</span> 2</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a
          href="#submenu3"
          data-bs-toggle="collapse"
          class="nav-link px-0 align-middle"
        >
          <i class="fs-4 bi-grid"></i>
          <span class="ms-1 d-none d-sm-inline">Products</span>
        </a>
        <ul
          class="collapse nav flex-column ms-1"
          id="submenu3"
          data-bs-parent="#menu"
        >
          <li class="w-100">
            <a href="#" class="nav-link px-0">
              <span class="d-none d-sm-inline">Product</span> 1</a
            >
          </li>
          <li>
            <a href="#" class="nav-link px-0">
              <span class="d-none d-sm-inline">Product</span> 2</a
            >
          </li>
          <li>
            <a href="#" class="nav-link px-0">
              <span class="d-none d-sm-inline">Product</span> 3</a
            >
          </li>
          <li>
            <a href="#" class="nav-link px-0">
              <span class="d-none d-sm-inline">Product</span> 4</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a
          class="nav-link px-0 align-middle"
          aria-current="page"
          data-bs-toggle="modal"
          data-bs-target="#exampleModalCenter"
          href="#"
        >
          <i class="fs-4 bi-people"></i>
          <span class="ms-1 d-none d-sm-inline">Customers</span>
        </a>
      </li>
    </ul>
    <hr />
  </div>
</div>
<div
  class="modal modal-lg fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add New User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3 row align-items-center">
            <div class="col-3">
              <label for="firstname" class="form-label">First Name</label>
            </div>
            <div class="col-9">
              <input
                type="text"
                class="form-control"
                id="firstname"
                name="firstname"
                aria-describedby="emailHelp"
              />
            </div>
          </div>
          <div class="mb-3 row align-items-center">
            <div class="col-3">
              <label for="lastname" class="form-label">Last Name</label>
            </div>
            <div class="col-9">
              <input
                type="text"
                class="form-control"
                id="lastname"
                name="lastname"
                aria-describedby="emailHelp"
              />
            </div>
          </div>
          <div class="mb-3 row align-items-center">
            <div class="col-3">
              <label for="username" class="form-label">Username</label>
            </div>
            <div class="col-9">
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                aria-describedby="emailHelp"
              />
            </div>
          </div>
          <div class="mb-3 row align-items-center">
            <div class="col-3">
              <label for="password" class="form-label">Password</label>
            </div>
            <div class="col-9">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                aria-describedby="emailHelp"
              />
            </div>
          </div>
          <div class="mb-3 row align-items-center">
            <div class="col-3">
              <label for="phoneNumber" class="form-label">Phone Number</label>
            </div>
            <div class="col-9">
              <input
                type="text"
                class="form-control"
                id="phoneNumber"
                name="phoneNumber"
                aria-describedby="emailHelp"
              />
            </div>
          </div>
          <div class="mb-3 row align-items-center">
            <div class="col-3">
              <label for="role" class="form-label">Role</label>
            </div>
            <div class="col-9">
              <select name="role" id="role" class="form-select">
                <option value="qcAgent">QC Agent</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="saveUserBtn">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
