<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arka CRM</title>
</head>
<body>
    <%- include('../partitions/navbar') %>
    <nav class="navbar sticky-top navbar-expand-lg" style="z-index: 1;">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/product/add-product">New</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn" id="deleteProduct">Delete</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn" id="deactivateProduct">Deactivate</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn" id="activateProduct">Activate</button>
                </li>
            </ul>
          </div>
        </div>
    </nav>
    <hr class="mt-0">
    <div class="container">
        <table id="myTable" class="table table-bordered table-striped col-4">
            <thead>
                <div class="mb-3 container d-flex px-0 justify-content-between">
                    <h3>Products</h3>
                    <div class="col-2">
                        <select class="form-select" id="status">
                            <option value="all">All</option>
                            <option selected value="active">Active</option>
                            <option value="deactive">Deactive</option>
                        </select>
                    </div>
                </div>
            <tr>
              <th>Product Title</th>
              <th>Status</th>
              <th>Created On</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script src="/main.js"></script>
    <script>
        $(document).ready(function() {
            const host = window.location.origin;
            const dataTable = $('#myTable').DataTable({
                "oLanguage": {
                    "sSearch": "Search Product",
                },
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "autoWidth": false,
                "pageLength": 10,
                "select": {
                    "style": 'multi'
                },
                "ajax": {
                    url: host + '/product/datatable',
                    type: 'POST',
                    data: function(d) {
                        d.status = $('#status').find(":selected").val();
                    },
                },
                "columns": [
                    { "data": "title" },
                    { 
                        "data": "active",
                        render: function(data, type, row) {
                            if (row.active) {
                                return 'Active';
                            }
                            return 'Deactive'
                        },
                    },
                    { "data": "createdAt" }
                ],
            });
            $('#myTable tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
            $('#status').on('change', function() {
                dataTable.draw();
            });
            $('#deleteProduct').on('click', function() {
                const ids = grabSelectedItemsId();
                if (!ids.length) {
                    return null;
                }

                $.ajax({
                    type: "POST",
                    url: host + '/product/delete-product',
                    data: {
                        ids,
                    },
                    success: function(data) {
                        dataTable.draw();
                    },
                    error: function(xhr, status, error) {
                        console.log('error');
                    },
                });
            });
            $('#deactivateProduct').on('click', function() {
                const ids = grabSelectedItemsId();
                if (!ids.length) {
                    return null;
                }

                $.ajax({
                    type: "POST",
                    url: host + '/product/deactivate-product',
                    data: {
                        ids,
                    },
                    success: function(data) {
                        dataTable.draw();
                    },
                    error: function(xhr, status, error) {
                        console.log('error');
                    },
                });
            });
            $('#activateProduct').on('click', function() {
                const ids = grabSelectedItemsId();
                if (!ids.length) {
                    return null;
                }

                $.ajax({
                    type: "POST",
                    url: host + '/product/activate-product',
                    data: {
                        ids,
                    },
                    success: function(data) {
                        dataTable.draw();
                    },
                    error: function(xhr, status, error) {
                        console.log('error');
                    },
                });
            });
            function grabSelectedItemsId() {
                const ids = [];
                const selectedItems = dataTable.rows('.selected').data();
                for (let i = 0; i < selectedItems.length; i++) {
                    ids.push(selectedItems[i]._id);
                }
                return ids;
            }
        });
    </script>
</body>
</html>